.myCard{
    border-radius:5px;
    width: 16rem;
    height: 20rem;
    box-shadow: 
        3px 3px 3px 1px rgba(3, 3, 5, 0.3), 
        3px 3px 3px 0px rgba(255,255,255,1) inset,
        -3px -3px 3px 0px rgba(66, 66, 64, 0.1) inset,
        0px 0px 5px 5px rgba(250,212,136,0.1);
}



/* put ... if authors text is too long */
.trunkateIt {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3rem;
    text-align: justify;
    margin-right: 1em;
    padding-right: 1em;
  }
  .trunkateIt::before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .trunkateIt::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }