/* #nav-content{
    width: 992px;
} */
#logo{
    cursor: pointer;
    padding: 0 !important;
    background-color:lightgoldenrodyellow;
    width:45px;
    height:45px;
    mask: url(../logo.svg) no-repeat center;
    transition: background-color 300ms;
}


#logo:hover{
    background-color: lightseagreen!important;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}

#topnav-cont {
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: #f2f2f2;
    max-width:992px;
}

#topnav-cont a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

#topnav-cont a:hover {
    background-color: #ddd;
    color: black;
}

#topnav-cont .active{
    color: black;
    background-color: #ddd;
      
}
